@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --greyish-blue: #8084d0;
    --light-grey: #d9d9d9;
    --background-color: #252525;
    --light-background: #444444;
    --darker-background: #303030;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    
}

button {
    padding: 30px 38px;
    font-size: 26px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background-color: var(--background-color);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    color: var(--light-grey)
}

button:hover {
    cursor: pointer;
}

.container {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    background-color: #252525;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 20px;
}

.header {
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-bottom: 10px;
}

.header button {
    padding: 0px 20px;
    font-size: 24px;
    transition: 0.3s
}

.header i {
    /* color: #9c9c9c; */
    color: #ff9d005b;
    font-size: 28px;
}

.links {
    display: flex;
    gap: 10px;
    align-items: center;
}

.ball-1{
    background-color: var(--darker-background);
    padding: 13px;
    border-radius: 50%;
}

.ball-2{
    background-color: #5f5f5f;
    padding: 13px;
    border-radius: 50%;
}

.display {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    flex-direction: column;
    height: 7.5em;
    background-color: var(--background-color);
    margin-bottom: 14px;
    border-radius: 20px;
    color: var(--light-grey);
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.2)
}

.text, .expression {
    padding: 0px 20px;
}

.text {
    font-size: 64px;
    font-weight: bold;
}

.expression {
    top: 0;
    font-size: 20px;
}

.digits {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
}

.digits button {
    transition: 0.3s
}

.digit:hover,
.clear:hover {
    transform: scale(1.1);
    color: white;
}

.clearbtn .clear {
    border-radius: 15px;
    padding: 4px 24px;
    font-size: 22px;
    background-color: var(--darker-background);
}

.operator {
    background-color: var(--light-background);
    color: var(--light-grey);
    font-weight: bold;
}

.operator button {
    transition: 0.3s
}

.operator:hover {
    transform: scale(1.1);
    color: white;
}

.bottom-line {
    width: 100%;
    background-color: var(--darker-background);
    padding: 30px 0px;
    margin-top: 14px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
}

.pressed {
    transform: scale(1.1);
    background-color: var(--light-grey);
    color: var(--greyish-blue)
  }